@import url(main.css);

@media (max-width: 440px) {
  /* NAVIGATION */
  header {
    width: 100%;
    
  }
  /* TWO SECTION */
  .about {
    text-align: center;
  }


  .desc-title {
    font-size: 14px;
  }

  .about-title {
    font-size: 24px;
  }

  .two-img {
    display: none;
  }

  .about_me {
    font-size: 14px;
    padding: 10px 40px;
  }

  .achievement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  /* FOOTER */
  footer {
    width: 440px;
    height: 580px;
  }

  .logo-f {
    font-size: 26px;
  }
}

@media (max-width: 750px) {
  .achievement {
    flex-wrap: wrap;
  }
}